{% extends 'security/base.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block head %}
<title>Welcome</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="static/assets/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-top">
      Bootstrap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">User Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add">Add Books</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Orders
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">View Orders</a></li>
            <li><a class="dropdown-item" href="#">View Wishlist</a></li>
          </ul>
        </li>

      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
    
{% include "security/_messages.html" %}
<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
<h1>Add Books</h1>

<form action="/addbook" method="post">
    {{ render_field_with_errors(form.title) }}
    {{ render_field_with_errors(form.author) }}
    {{ render_field_with_errors(form.price) }}
    {{ render_field_with_errors(form.stock) }}
    {{ form.submit }}
</form>
</div>
{% endblock %}